.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-container .logo {
  margin-bottom: 40px;
}

.app-container form {
  display: flex;
  padding: 0 25px;
  padding-top: 30px;
  flex-direction: column;
  background-color: #fff;
  width: 380px;
  border-radius: 4px;
}
.app-container form p {
  margin-top: 5px;
}

.app-container form label {
  margin-top: 30px;
  font-weight: bold;
  color: rgb(58, 58, 58);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.app-container form input {
  height: 36px;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 25px;
}

.app-container form button {
  height: 46px;
  border: 0;
  background-color: #f05a5b;
  margin-bottom: 30px;
  color: #fff;
  cursor: pointer;
}

.app-container form button:hover {
  background-color: #e14f50;
}
