#btn-container {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}

#btn-container a {
  margin-right: 15px;
}

#container-spots {
  display: flex;
  margin-top: 10px;
  margin-bottom: 6px;
  flex-wrap: wrap;
}

#container-spots div {
  margin: 0 auto;
  flex: 1 1 40%;
}

#container-spots div img {
  max-width: 100%;
  border-radius: 3px;
}

#container-spots div h6 {
  font-size: 18px;
  margin-top: 5px;
}
 
#container-spots div p {
  font-size: 13px;
  color: #b2b2b2;
  text-transform: capitalize;
  font-weight: lighter;
  margin-bottom: 10px;
}

#container-spots #spot {
  margin: 0 5px;
}
