* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body, #root {
  height: 100%;
}

body {
  background: #000 url('./assets/background.jpg') no-repeat;
}

body, input, button {
  font-family: 'Roboto', Arial, sans-serif;
}
